{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block styles %}
<link href="{% static 'css/update.css' %}" rel="stylesheet">
{% endblock styles%}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="{{ user.image }}" alt="" class="img-fluid single-img">


        </div>
        <div class="col-8">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

               <a href="{% url 'update_profile' %}"><button type="button" class="btn btn-danger">UPDATE</button></a>

            </form>
            <br>
        </div>
    </div>
</div>
{% endblock content %}